@font-face {
    font-family:'Duplet';
    src: url(/Fonts/Duplet/Duplet-Regular\.otf)
  }

  @font-face {
    font-family:'Abelard';
    src: url(/Fonts/Abelard/Abelard-Regular\.otf)
  }


h1{ 
	font-family: "Duplet"; 
	font-size: 7rem;
	text-align: center;
	margin: 2em 0.5em
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

} 

div{ 
	margin: 20px;
	border: 2px solid lightblue; 
	padding: 20px;
	transition: transform .2s; 
	font-family: 'Abelard';
}


.div:hover {
  transform: scale(1.5);
}