/* Fonts */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  @font-face {
    font-family:'Abelard Bold';
	src: url(/Fonts/Abelard/Abelard-Bold.otf)
  }

  @font-face {
    font-family:'Abelard';
    src: url(/Fonts/Abelard/Abelard-Regular.otf)
  }



  html {
	scroll-behavior: smooth;
	background-color: rgb(240, 207, 193);
	background-image: url('Cityscape2.png');
	background-repeat:repeat-x;
	background-size: 60% 40%;
	background-position: bottom;
  }

h1{ 
	font-family:"Poppins", sans-serif; 
	font-size: 8rem;
	text-align: center;
	margin: 2em;
	color: rgb(255, 255, 255)
}

h2{
	font-family: 'Abelard Bold'; 
	font-size: 2.6rem;
	text-align: center;
	margin: -3.8em 4em;
	color: #471313
}

h3{ 
	font-family:'Poppins', sans-serif; 
	font-size: 7rem;
	color: black;
	margin: 0 70px
}

h4{ 
	font-family:'Poppins', sans-serif; 
	font-size: 2.4rem;
	color: rgb(255, 255, 255);
	margin: 70px;
	opacity: 0.6;
}

header{ 
	display:flex;
	justify-content: space-between;
	}

section{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	gap: 10px;
} 

a{ 
	color: white; 
	opacity: 0.7;
	text-decoration: none;
	font-family:'Poppins', sans-serif; 
	font-size: 5rem;
}

div{ 
	font-family: 'Abelard';
	font-size: 0;
}

label { 
	display: none;
}

select{
	display: none;
}

  /* Classes */
  
  .flex {
	position: relative;
	background-color: #474545;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 40px;
	/* margin: 0 10px; */
	text-align: center;
	gap: 10px;

}

.windows {
	position: relative;
	margin: 20px;
	padding:20px;
	display: flex;
	justify-content: center;
	text-align: center;
	height: 90px;
	width: 30px;
	border: 2px solid #000;
  }
  
  .windows:before,
  .windows:after {
	content: "";
	position: absolute;
  }
  
  .windows:before {
	width: 100%;
	height: 2px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: #000;
	transition: all 0.3s ease;
  }
  
  .windows:after {
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	transition: all 0.3s ease;} /* Added transition for smooth animation */
  

  .windows:hover {
	padding: 40px ;
	font-size: 1em;
	border: none;
	z-index: 9999;
  }
  
  .windows:hover:before,
  .windows:hover:after {
	height: 0;
  }

 /* CSS for small price bracket */
  .entryDiv-small {
	transition: transform 0.3s ease-in-out;
  }

.entryDiv-small:hover {
	transform: scale(1.8);
  }
  
  /* CSS for medium price bracket */
  .entryDiv-medium {
	transition: transform 0.3s ease-in-out;
  }
	.entryDiv-medium:hover {
		transform: scale(2.0); 
	  }
  
	/* CSS for large price bracket */
  .entryDiv-large {
	transition: transform 0.3s ease-in-out;
  }
	.entryDiv-large:hover {
		transform: scale(2.2); 
	  }
  
	/* CSS for extra large price bracket */
  .entryDiv-xlarge {
	transition: transform 0.3s ease-in-out;
  }

  .entryDiv-xlarge:hover {
	transform: scale(2.4); 
  }
  

  .clouds {
    position: absolute;
    top: 0;
    left: 0;
	width: 60%;
	height: 800px; /* set the desired height */
    z-index: 9999; 
    /* or any other value that positions the clouds on top of other elements */
    pointer-events: none; 
    /* this property ensures that the clouds won't interfere with mouse events on other elements */
    animation: cloudFlow 35s linear infinite;
    background: transparent;
	object-fit: contain;
	opacity: 0.8
  }

  .clouds1 {
    position: absolute;
    top: 80px;
    left: 90px;
	width: 60%;
	height: 900px; /* set the desired height */
    z-index: 9999; 
    /* or any other value that positions the clouds on top of other elements */
    pointer-events: none; 
    /* this property ensures that the clouds won't interfere with mouse events on other elements */
    animation: cloudFlow 35s linear infinite;
    background: transparent;
	object-fit: contain;
	opacity: 0.6
  }

  @keyframes cloudFlow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  
  
  /* ID'S */

  #header { 
	font-size: 0.4em
  }
  
  .door {
	height: 200px;
	background-color: #000000;
	width: 100%;
	padding: 50px;
	box-shadow: inset 0 50px 0 40px #474545;
	background-image: linear-gradient(to bottom, #290909 60%, #473333 40%);
	border: 10px solid #444444;
	border-left: none;
	border-right: none;
  }
  
  #phone {
	display: none;
  }
  
  #bottom {
	position: relative;
  }
  
  #overlayText {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	padding: 10px
  }
  

/* Media Queries */

/* Tablet */
@media (min-width:768px) and (max-width:1278px) {

	h1{ 
		font-size: 4rem;
		color: #000000;
	}

	h2{ 
		font-size: 3em;
	}

	h4{ 
		font-size: 1.5em;
	}

	div{ 
		font-size: 1em; 
		overflow: scroll;
	}

	.windows {
		margin: 20px;
		padding: 15px;
	  }

	  .window:hover { 
		display: none;
	  }


	  section{ 
		margin:0 80px; 
		justify-content: space-between;
	  }

	  #bottom { 
		padding: 0;
		margin: 0 35px;
		width: 130em;
	  }

	  .windows:before,
	  .windows:after {
		height: 0;
	  }

}

/* Phone */
@media only screen and (max-width: 768px) {

	html {
		background-image: none;
	}

label, select {
	font-size: 1em;
	margin-top: 0;
	margin: 2em 0.5em;
}

	label { 
		display: inline-block;
		padding: 20px;
		font-family:'Abelard';
	}
	
	select{
		display: inline-block;
		padding: 5px;
		font-family:'Abelard';
	}

	h1{ 
		font-size: 2em;
		text-align: center;
		margin: 3em 0.5em;
		margin-bottom: 10px
	}

	h2{ 
		display: none;
	}

	h3{ 
		font-size: 2rem;
		margin: 0 12px;
	}

  h4{ 
		font-size: 1em;
		margin: 5px;
		padding: 0 20px
	}

	a { 
		font-size: 1em;
	}

	div{ 
		font-size: 0.5em
	}

	.windows {
		margin: 20px;
		padding: 15px;
	  }

	  .window:hover { 
		display: none;
	  }

	.flex { 
		display: none;
		padding: 20px
	}

	.windows:before,
	.windows:after {
	  height: 0;
	}

	#door {
		display: none 
	}

	#phone{
		display: block;
	}


	#overlayText {
		font-size: 2em;
		margin: -40px 10px
	}


	#bottom { 

		display: none;
	}
	
}
